In [2]:
import pandas as pd

In [3]:
frame_test = pd.DataFrame({1999: [74,30,39],
                          2000: [44,86,23],
                           2001: [35,46,64]})
frame_test

   1999  2000  2001
0    74    44    35
1    30    86    46
2    39    23    64

In [6]:
frame_test2 = pd.DataFrame([[74,30,39],[44,86,23],[35,46,64]], columns = [1999,2000,2001])

In [7]:
frame_test2

   1999  2000  2001
0    74    30    39
1    44    86    23
2    35    46    64